@import './base.css';

.global-background {
  text-align: center;
  padding: 120px 0;
  color: white;
  background-image: linear-gradient(to right, #12191e, #12191e 70%, #12191e) !important; 
}

@media (min-width: 992px) {
  .global-background {
    padding: 150px 0;
  }
}